*
img{
 display: block;
  margin: 0 auto;
  border-radius: 50%;
}

p{
    text-align: center;
}

button{
     display: block;
  margin: 0 auto;
    border-radius: 30%;
    background-color: rgb(134, 163, 138);
    color: white;
}

h6{
    text-align: center;
}

